* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.desktop {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.desktop .location {
    display: flex;
}

.desktop .icon {
    margin-left: 300px;
}

.desktop .temperature {
    margin-top: 200px;
    display: flex;
}

.desktop .degree {
    margin-left: 10px;
    font-size: 3vw;
}

.desktop .temperature h1 {
    font-size: 5vw;
}

.desktop .country {
    font-size: 2vw;
    margin-top: 20px;
}

.desktop p {
    font-size: 20px;
    margin-top: 10px;
}

.desktop img {
    height: 10vh;
    width: 5vw;
    color: white;
}

.mobile {
    display: none;
}

@media(max-width:400px) {
    .mobile {
        display: block;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
        font-family: sans-serif;
        color: white;
    }
    .desktop {
        display: none;
    }
    .mobile .location {
        font-size: 5vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;
    }
    .mobile .icon {
        margin-top: 30px;
    }
    .mobile .temperature {
        display: flex;
        font-size: 5vw;
        margin-top: -50px;
        margin-bottom: 10px;
    }
    .mobile .degree {
        margin-left: 1px;
        font-size: 9.5vw;
    }
}
