* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    /* color: linear-gradient(rgb(235, 240, 192), rgb(255, 255, 0)); */
    color: white;
}

.location {
    display: flex;
}

.icon {
    margin-left: 300px;
}

.temperature {
    margin-top: 200px;
    display: flex;
}

.degree {
    margin-left: 10px;
    font-size: 3vw;
}

.temperature h1 {
    font-size: 5vw;
}

.country {
    font-size: 2vw;
    margin-top: 20px;
}

p {
    font-size: 20px;
    margin-top: 10px;
}

img {
    height: 10vh;
    width: 5vw;
    color: white;
}

@media(max-width:400px) {
    .location .country {
        font-size: 5vw;
    }
    img {
        height: 10vh;
        width: 10vw;
    }
}
